---
title: Apigee Edge Service Broker for Pivotal Cloud Foundry
owner: Partners
---

<strong><%= modified_date %></strong>

This documentation describes the Apigee Edge Service Broker for Pivotal Cloud Foundry (PCF). The Apigee Edge Service Broker for PCF enables developers to manage APIs for their PCF apps through the Apigee Edge management console.

## <a id='overview'></a>Overview

The Apigee Edge Service Broker for PCF registers a service broker with PCF and exposes its service plans on the Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating an Apigee Edge for PCF service instance and binding it to an app creates an Apigee Edge API proxy that handles requests for the app. This lets developers use the Apigee Edge management console to manage API request handling between clients and the app.

## <a id='features'></a>Key Features

After creating an Apigee Edge API proxy, developers can access the Apigee Edge management console to enhance the proxy with the following features:

- Data transformation, mediation, orchestration, and policies for rate limits
- Security, such as authentication and Role-Based Access Control
- Onboarding, including a developer portal to enable self-service
- Analytics for monitoring and business metrics analysis
- Monetization for rate plans, internationalization, and usage tracking

## <a id='snapshot'></a>Product Snapshot

The following table provides version and version-support information about Apigee Edge Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.1.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 8, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Apigee Edge Service Broker for PCF v2.1.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7 to v1.11</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7 to v1.11</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere</td>
    </tr>
</table>

## <a id='getting-started'></a>Getting Started

To begin using the Apigee Edge Service Broker, perform the procedures in the following topics:

* [Installing and Configuring Apigee Edge for PCF](installing.html): Install and configure the Apigee Edge Service Broker for PCF tile to expose the Apigee Edge service plans on the Marketplace of your PCF deployment.
* [Proxying a PCF App with Apigee Edge](proxying.html): After installing and configuring the Apigee Edge Service Broker for PCF tile, developers can create and use an Apigee Edge API proxy to manage requests to their applications.

For more information about how the Apigee Edge Service Broker for PCF integrates with PCF, see the [Apigee Edge for PCF Architecture](overview.html) topic.

## <a id='prereqs'></a>Prerequisites

The Apigee Edge Service Broker for PCF has the following prerequisites:

* An Apigee Edge account (Public Cloud or Private Cloud) with an organization where API proxies can be created. To create an Edge account, see [Creating an Apigee Edge account](http://docs.apigee.com/api-services/content/creating-apigee-edge-account). For more information about Apigee organizations, see [Organization structure](http://docs.apigee.com/api-services/content/apigee-edge-organization-structure).
* A PCF Elastic Runtime (version 1.7 to 1.11) deployment with Route Services enabled.
* The [cf CLI](https://github.com/cloudfoundry/cli) v6.20.0+, which includes  support for `route-services` operations.
* Node.js v4.x or later. PCF includes Node.js as a system buildpack, so you can install and run the service broker without Node installed locally, if necessary.

## <a id='feedback'></a>Feedback

Please post any bugs, feature requests, questions, and usage articles to the [Apigee PCF Community Forum](https://community.apigee.com/spaces/134/integration.html).

