---
title: Installing and Configuring Apigee Edge for Pivotal Platform
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure the Apigee Edge Service Broker for Pivotal Platform.


## <a id='install'></a> Install and Configure the Apigee Edge Service Broker for Pivotal Platform

1. Download the product file from [Pivotal Network](http://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **Add** next to the uploaded Apigee Edge Service Broker for Pivotal Platform tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly-added **Apigee Edge Service Broker for Pivotal Platform** tile.

1. Under **Settings**, click **Apigee Edge Tile**.
![Apigee Edge for Pivotal Platform configuration](images/apigee-settings-3.png)
    Note the **Add** button in the top left. This allows for the addition of any number of specific configurations to be added to the tile.

1. Under **Custom Settings**, enter the appropriate values. See the following table for a description of each setting and the default values for users of Apigee Edge for Public Cloud.


    | Setting | Description | Default for Public Cloud |
| ------- | ----------- | ------------------------ |
| **Name for this configuration** | Choose a name that describes the configuration. | Default configuration |
| **Apigee Organization** | The Apigee Edge organization with proxies that will handle calls to your app. | 
| **Apigee Environment** | The Apigee Edge environment that with proxies that will handle calls to your app. | 
| **Dashboard URL** | The URL to the Apigee Edge management console, the UI where you develop and manage API proxies. | `https://enterprise.apigee.com/platform/#/` |
| **Apigee Management API URL** | The endpoint URL to the Apigee Edge management API. The Apigee Edge Service Broker uses this URL when making requests to create new Apigee Edge API proxies for managing requests to Pivotal Platform apps. | `https://api.enterprise.apigee.com/v1` |
| **Apigee Proxy Domain** | The domain name that Pivotal Platform apps use when making calls to your API proxy. | `apigee.net` |
| **Apigee Proxy Host Template** | ES6 template literal for generated proxy host. The template that describes how the Apigee Edge host name should be generated. <br/> This represents the hostname that clients use to make calls to your APIs. Change this value if your hostname is not created in the default way -- from your Apigee org an environment names. For example, if your APIs use a custom virtual host, you might have just a domain name:<br/>`${domain}`<br />Pivotal Platform apps use this host when making calls to your API proxy. The template generates the host name from values specified when binding the Pivotal Platform app to the service. (Note that without any placeholders, will be used as-is.)| `${org}-${env}.${domain}` |
| **Apigee Proxy Name Template** | The template that describes how to generate the name of your proxy when you create it from the cf CLI. | `cf-${route}` |

1. Click **Save**.

1. If you have your own NPM registry that the service broker should use to install, click **NPM Configuration** in the **Settings** tab.
![Apigee Edge NPM configuration](images/apigee-npm-config.png)

9. On the NPM configuration page, enter the following values:

    | Setting | Description | Default for Public Cloud
| ------- | ----------- | ------------------------
| **npm registry URL** | The base URL of the NPM package registry. | 
| **npm registry client certificate** | A client certificate to pass when accessing the registry. Values should be in PEM format (or on Windows, "Base-64 encoded X.509 (.CER)"). Replace newlines with the string "\n". For example:<br /> `cert="-----BEGIN CERTIFICATE-----\nXXXX\nXXXX\n-----END CERTIFICATE-----"` <br />This is not the path to a certificate file. |
| **npm registry client key** | A client key to pass when accessing the registry. Values should be in PEM format with newlines replaced by the string "\n". For example:<br /> `key="-----BEGIN PRIVATE KEY-----\nXXXX\nXXXX\n-----END PRIVATE KEY-----"` <br />It is not the path to a key file (and there is no "keyfile" option). | 
| **Use strict-ssl** | `true` to do SSL key validation when making requests to the registry via HTTPS. | Selected (`true`). |

1. Click **Save**.

1. If you have a proxy server or firewall for calls from the service broker, click **HTTP(S) Proxy** in the **Settings** tab.
![Apigee Edge NPM configuration](images/apigee-http-proxy.png)

1. On the HTTP(S) Proxy page, enter the following values:

    | Setting | Description | Default for Public Cloud |
| ------- | ----------- | ------------------------ |
| **HTTPS proxy URL** | The URL required by the `https_proxy` environment variable. | 
| **HTTPS proxy username** | The username required by the `https_proxy` environment variable. | 
| **HTTPS proxy password** | The password required by the `https_proxy` environment variable. | 
| **HTTP proxy URL** | The URL required by the `http_proxy` environment variable. | 
| **HTTP proxy username** | The username required by the `http_proxy` environment variable. | 
| **HTTP proxy password** | The password required by the `http_proxy` environment variable. | 

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Apigee Edge Service Broker for Pivotal Platform tile.

1. If you are upgrading Apigee Edge Service Broker for Pivotal Platform tile and installation failed you may need to remove old service broker application from Pivotal Platform and re-run installation again by pressing **Apply Changes** in Ops Manager:

```
cf target -o apigee-edge-for-pcf-service-broker-org -s apigee-edge-for-pcf-service-broker-space
cf apps
cf delete apigee-cf-service-broker-3.1.4
```
where `apigee-cf-service-broker-3.1.4` name of old broker application


The Apigee Edge service broker is now installed in your Pivotal Platform deployment. To use the service broker, continue to one of the following topics:

- To learn how to proxy a Cloud Foundry app with Apigee Edge, see [Proxying a Pivotal Platform App with Apigee Edge ("org" plan)](proxying-org.html).
- To learn how to proxy a Cloud Foundry app with Apigee Edge Microgateway, where Microgateway and the app are in separate Cloud Foundry containers, see [Proxying a Pivotal Platform App with Apigee Edge Microgateway ("microgateway" plan)](proxying-microgateway.html) topic to learn how to create and use an Apigee Edge API proxy for Pivotal Platform apps.
- To learn how to proxy a Cloud Foundry app with Apigee Edge Microgateway, where Microgateway and the app are in the same Cloud Foundry container, see [Proxying a Pivotal Platform App with Apigee Edge Microgateway ("microgateway-coresident" plan)](proxying-microgateway-coresident.html) topic to learn how to create and use an Apigee Edge API proxy for Pivotal Platform apps.

## <a id='install-disconnected'></a> Install the Apigee Edge Service Broker for Pivotal Platform in disconnected environment
This topic describes how to install the Apigee Edge Service Broker for Pivotal Platform in disconnected environment.

1. Before installing Apigee Edge Service Broker for Pivotal Platform you need to set proxy for application staging. *NOTE: this is global configuration for Pivotal Platform foundation*
```
$ cf set-staging-environment-variable-group '{"http_proxy": "http://YOUR-PROXY:8080/", "https_proxy": "http://YOUR-PROXY:8080/", "no_proxy": "NO-PROXY.EXAMPLE.COM"}'
```
1. Whitelist following URLs on yout proxy server for Apigee Edge Service Broker for Pivotal Platform staging: `nodejs.org` and `registry.npmjs.org`
