---
title: Installing and Configuring Apigee Edge for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure the Apigee Edge Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure the Apigee Edge Service Broker for PCF

1. Download the product file from [Pivotal Network](http://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **Add** next to the uploaded Apigee Edge Service Broker for PCF tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly-added **Apigee Edge Service Broker for PCF** tile.

1. Under **Settings**, click **Apigee Edge Tile**.
![Apigee Edge for PCF configuration](images/apigee-settings-2.png)

1. Under **Custom Settings**, enter the appropriate values. See the following table for a description of each setting and the default values for users of Apigee Edge for Public Cloud.

	 Setting | 	Description | Default for Public Cloud
	------- | -------- | -------------------------------
	**Dashboard URL** | The URL to the Apigee Edge management console, the UI where you develop and manage API proxy apps. | `https://enterprise.apigee.com/platform/#/`
	**Apigee Management API URL** | The endpoint URL to the Apigee Edge management API. The Apigee Edge Service Broker uses this URL when making requests to create new Apigee Edge API proxies for managing requests to PCF apps. | `https://api.enterprise.apigee.com/v1`
	**Apigee Proxy Domain** | The domain name that PCF apps use when making calls to your API proxy. | `apigee.net`
	**Apigee Proxy Host Template** | The template that describes how the Apigee Edge host name should be generated. PCF apps use this host when making calls to your API proxy. The template generates the host name from values specified when binding the PCF app to the service instance of the Apigee Edge service. Typically, `org` and `env` represent your Apigee Edge organization and environment names, and `domain` represents the proxy domain you specify above. Parts of this value not formatted as placeholders will be taken to be literal.| `${org}-${env}.${domain}`
	**Apigee Proxy Name Template** | The template that describes how to generate the name of your proxy when you create it from the cf CLI. | `cf-${route}`

1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Apigee Edge Service Broker for PCF tile.

The Apigee Edge service broker is now installed in your PCF deployment. Continue to the [Proxying a PCF App with Apigee Edge](proxying.html) topic to learn how to create and use an Apigee Edge API proxy for PCF apps.
